#footer{
  background: #020029 url("../../img/Group 111.svg") no-repeat bottom ;
  padding: 190px 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .contact_form{
    width: 60%;
      h3{
        color: lime;
        font-size: 32px;
        margin-bottom: 15px;
        font-weight: normal;
      }
      p{
        margin-bottom: 25px;
        line-height: 26px;
        font-weight: lighter;
        &.error{
          color: red;
          text-align: center;
        }
      }
     input{
       width: 100%;
       border:1px solid lime;
       outline: none;
       border-radius: 80px;
       background-color: #020029;
       color: lime;
       padding: 15px 20px;
       margin: 15px 0;
       font-size:16px;
       transition: 1s;
       &::placeholder{
         color: #178017;
       }
       &:focus{
         border-color: transparent;
         border-bottom-color: lime;
         border-radius: 0;
       }
     }
    .textArea{
      width: 100%;
      position: relative;
      button{
        background-color: lime;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        position: absolute;
        right: -27px;
        cursor: pointer;
        top: 50%;
        border-radius: 50%;
        transition: .5s;
        &:hover{
          box-shadow: 0 0 25px lime;
        }
        img{
          width: 25px;
        }
      }
      textarea{
        width: 100%;
        border:1px solid lime;
        outline: none;
        border-radius: 10px;
        background-color: #020029;
        color: lime;
        padding: 15px 20px;
        margin: 15px 0;
        font-size:16px;
        transition: 1s;
        resize: none;
        height: 300px;
        &::placeholder{
          color: #178017;
        }
        &::-webkit-scrollbar {
          width: 5px;
          border-radius: 150px;
          background-color: #020029;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 2px lime;
        }
        &::-webkit-scrollbar-thumb {
          background: linear-gradient(green,lime);
          border-radius: 80px;
          outline: 1px solid green;
        }
      }
    }
  }
  .logo{
    min-width: 350px;
  }
}